img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 33%;
    min-width: 250px;
}

li {
    list-style-type: none;
    margin-bottom: 1rem;
}

.block-text-accent {
    background-color: #f2f2f3; 
    padding: 2rem;
}

.main-text {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    font-size: 2rem;
}

.main-heading {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 2rem;
}

footer p {
    font-size: 15px
}

a {
    color: #df5378 !important;
    font-size: 20px !important;
}

a.button.language {
    font-size: 10px !important;
    position: fixed; 
    right: 0;
    margin-right: 15px;
    opacity: .70;
    padding-left: .5rem !important;
    padding-right: 3.5rem !important;
    text-align: left !important;
    color: black !important;
    min-width: .5rem;
    max-width: 1rem;
    z-index: 1;
}

a.button {
    font-size: 16px !important;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    min-width: 25rem;
    max-width: 43rem;
    width: auto;
}

a.button.action {
    margin-top: 2%;
}

@media (max-width: 475px) {
    h4 {
        text-align: center;
    }
    a.button.action {
        margin-top: 5%;
    }
    a.button.action span.es-text {
        font-size: 13px !important;
    }
    a.button.language {
        bottom: 5px;
    }
}
@media (min-width: 475px) {
    .btn {
        margin-top: 2%;
    }
    .main-text {
        padding-left: 20%;
        padding-right: 20%;
    }
    a.button.language {
        top: 10px;
    }
}